.products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    margin: 20px 0;
}

.delete-all {
    text-align: right;
    margin: 20px
}
.delete-all input {
    height: 25px;
    width: 25px;
    transform: translateY(5px);
    margin: 0px 15px;
}
.delete-all span {
    text-transform: uppercase;
    color: tan;
    letter-spacing: 1.5px;
}
.delete-all button {
    border: 1px solid red;
    padding: 10px 25px;
    color: red;
    text-transform: uppercase;
}
@import url("../utils/product_item/productitem.css");

.filter_menu {
    width: auto;
    min-height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px;
}
.filter_menu select, .filter_menu input {
    border: 1px solid tan;
    outline: none;
    height: 50px;
    padding: 0 5px;
}
.filter_menu input {
    flex: 1;
    margin: 10px;
    border-radius: 10px;
}